body {
  margin: 0;
  --bg: #ddd;
  --active: #fff;
  --text: #000;
  --greytext: #888;
  --weight: 600;
  --padding: 5px;
  --margin: 8px;
  --iconsize: 17px;
  --buttonsize: 30px;
  --roomidsize: 10px;
  --playerlistwidth: 100px;
  --borderwidth: 3px;
  --timerwidth: 40px;
  --maxcanvaswidth: 90vw;
  --maxcanvasheight: 90vh;
  --buttonoffset: 3px;
  --fontnormal: 15px;
  --fontlarge: 20px;
  background-color: var(--bg);
  background-image: url('bubble.png');
  image-rendering: pixelated;
  padding-top: 10px;
  text-align: center;
  font-size: 0;
}


body * {
  font-family: Arial, sans-serif;
  font-size: var(--fontnormal);
  font-weight: var(--weight);
  color: var(--text);
}

/* GENERAL */

.border, .button {
  border-image-slice: 16 fill;
  border-image-width: 16px;
  border-image-outset: 9px;
  border-image-repeat: repeat;
  border-style: solid;
  /* border-width: 16px; */
}

.border {
  border-image-source: url('border.png');
  background-color: var(--active);
}

.button {
  border-image-source: url('button-out.png');
}

.button:hover {
  cursor: pointer;
  position: relative;
  top: var(--buttonoffset);
  left: var(--buttonoffset);
  border-image-source: url('button-in.png');
}

input, button, [id^="showtextprompt"] {
  text-align: center;
  /* background-color: var(--active); */
  padding: var(--padding);
  margin: var(--margin);
}

input::placeholder {
  color: var(--greytext);
}

/* SPECIFIC */

#title {
  width: 512px;
  /* height: 64px; */
  max-width: var(--maxcanvaswidth);
  /* background-image: url('title.png'); */
}

#playerlist {
  padding: 0;
  width: var(--playerlistwidth);
  margin: var(--margin) auto;
  text-align: left;
  list-style: none;
}

#playerlist img {
  width: var(--iconsize);
  height: var(--iconsize);
}

#timer {
  border: var(--bor:afterderwidth) solid var(--active);
  width: var(--timerwidth);
  margin: var(--margin) auto;
}

canvas {
  margin: var(--margin);
  max-width: var(--maxcanvaswidth);
  max-height: var(--maxcanvasheight);
  background-color: #fff;
}

.crosshair:hover {
  cursor: crosshair;
}

#container-cleardrawing, #container-undostroke, #container-pencolour, #container-pensize {
  display: inline-block;
}

/* #submit, #rejoin, #exit, #cleardrawing, #undostroke, #pensize, #pencolour { */
.button {
  width: var(--buttonsize);
  height: var(--buttonsize);
  padding: var(--padding);
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--buttonsize) - var(--padding));
}

#submit {
  background-color: #fbf236;
  background-image: url('ready.svg');
}

#rejoin {
  background-image: url('rejoin.svg');
}

#exit {
  background-image: url('exit.svg');
}

#cleardrawing {
  background-image: url('clear.svg');
}

#undostroke {
  background-image: url('undo.svg');
}

#pensize {
  background-image: url('thin.svg');
}

#pencolour {
  background-image: url('dark.svg');
}

[id^="replayname"] {
  margin-top: 50px;
  font-size: var(--fontlarge);
}

[id^="showtextprompt"] {
  display: inline-block;
  max-width: var(--maxcanvaswidth);
}
